img{
width: 15px;
height: 15px;

}
.div2{
height: 40px;
width: 100%;
display: flex;
/* justify-content: space-evenly; */
}
ul{
    list-style-type: none;
    
}
li{
    padding: 30px;
    float: right;

}
nav{
    background-color: yellow;
}

