img{
    border-radius: 115px;
    border-width: 115px;
    width: 115px;
}
 img[alt="img1"]{
    border-radius: 50%;
 }
 img{
    width: 300px;
    height: 300px;
 }
 img[alt="img2"]{
    border-radius: 80%;
 }
 input[placeholder~="your"]::placeholder{
    color: yellow;
    background-color: black;
 }
 input[type]{
    border: solid rgb(170, 224, 6);
 }
