
#div2{
    border: 3px dashed blue;
    width: 500px;
    height: 300px;
}
#div3{
    border: 3px solid blue;
    width: 350px;
    height: 200px;
    margin: 45px;
    padding-left: 40px;

}
#div4{
    border: 3px solid blue;
    width: 150px;
    padding: 12px;
    height: 100px;
    margin: 35px;

}
#div5{
    border: 3px solid blue;
    width: 50px;
    padding: 12px;
    height: 50px;
    margin: 5px;
}